@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*************Fontes***********************/
@import url('https://fonts.googleapis.com/css?family=Sniglet');

@import url('https://fonts.googleapis.com/css?family=Kalam');




body{
	text-align: center;
	font-family: 'M PLUS 1', sans-serif;
	display: flex;
	justify-content: center;
}

.cad{ 
	padding: auto;
	margin-top: 10%;
	border: 2px solid;
	color: black;
	height: auto;
	width: auto;
	border-radius: 10px;
	display: flex;
	
	
}

.cad h4{
	text-align: left;
	width: 60% !important;
	border-radius: 5px;
}

.form input{
	width: 50% !important;
	height: 15px;
	border-radius: 10px;
	border: 2px solid;
	text-align: center;
}

.form button{
	margin-top: 15px;
	width: 25% !important;
	height: 30px;
	border-radius: 10px;
	border: 2px solid;
	text-align: center;
}


.read{
	padding: 15px;
	border: 2px solid;
	color: black;
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	width: 800px;
	border-radius: 10px;
}

/*MENU*/
CSS
ul {
    margin: 0;
    padding:0;
}

li {
    list-style: none; 
    margin: 10px;
    display: inline;
}

li a {
	padding: 5px 10px; 
	margin:0;
	border: 0px solid #f00; 
	background: #903;
	text-decoration: none;
	color:#FFF;
	/* cantos arredondados */
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	}
	li a:hover {
	background: #CCC;
	color: #000; 
	border-color: #000;
	}

	.men{ 
		display: flex;
		padding: 15px;
		border: 2px solid;
		color: black;
		margin-right: auto;
		margin-left: auto;
		height: auto;
		width: 500px;
		border-radius: 10px;
		
	}

#content{
	float: left;
	width: auto;
	padding: auto;
	color: black;
	display: flex;
	justify-content: center;
	/*font-family: 'Sniglet', cursive;*/
}
	
.tabelaCrud{
	justify-content: center;
	width: 100%;
	text-align: center;
	display: flex;
	
	
	
	/*font-family: 'Kalam', cursive;*/
}

.tabelaCrud tr:nth-child(1n){
	background: silver;
}

.tabelaCrud tr:nth-child(1n):hover{
	background: #CCC;
	color: #000; 
	border-color: #000;
}
	
.tabelaCrud tr:first-child{
	background: black;
	color: #fff;
	font-variant: bold;
	font-size: 25px;
}
	
.tabelaCrud tr{
	width: 100%;
	
}